.card {}

.card__icon {}

.card__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 1.36;
    color: $sub-title-dark-color;
}

.card__text {}

.text-attention {
    font-weight: 700;
}