.link {
    cursor: url(../../../images/cursor.svg), pointer;


    transition: color $default-transition-time ease-in, fill $default-transition-time ease-in;

    &:hover,
    &:focus {
        color: #E1E0FF;
    }

    &.logo:hover,
    &.logo:focus {
        fill: #E1E0FF;
    }
}