.start {
    padding-top: 150px;
    padding-bottom: 150px;

    background: linear-gradient(249.78deg, #35D3FF -0.64%, #A963FB 103.6%);
}


.start__container {
    display: flex;
}

.start__item {

    flex-basis: 50%;
}

.start__content {
    padding: 70px 180px 70px 0;
}

.start__title {
    margin-bottom: 24px;
}

.start__sub-title {
    margin-bottom: 24px;
}

.start__text {
    margin-bottom: 50px;
}


.start__image-wrapper {}