.start {
    position: relative;
    padding-top: 150px;
    padding-bottom: 150px;

    background: linear-gradient(249.78deg, #35D3FF -0.64%, #A963FB 103.6%);

    &__card-project {
        // position: absolute;


        width: 242px;

        & .card-project__image {
            // background-image: url(../../../images/dashboard/card-project__image_2.jpg);
            background-image: url(./../images/dashboard/card-project__image_2.jpg);
        }
    }
}


.start__container {
    display: flex;
}

.start__item {

    flex-basis: 50%;
}

.start__content {
    padding: 70px 180px 70px 0;
}

.start__title {
    margin-bottom: 24px;
}

.start__sub-title {
    margin-bottom: 24px;
}

.start__text {
    margin-bottom: 50px;
}


.start__image-wrapper {
    position: relative;
}

.start__backdrop {
    width: 552px;
    height: 460px;
    top: 0;
    right: 0;
}

.start__backdrop-card {
    width: 410px;
    height: 308px;
    position: absolute;
    bottom: -63px;
    left: 52px;
}

.start__card-audit {
    padding: 27px 46px 30px 28px;
    width: 100%;
    height: 100%;

    & .card-audit__title {
        margin-bottom: 10px;
        font-weight: 700;
        font-size: 14.8878px;
        line-height: 1.277;
        color: #3B3E43;
    }

    & .card-audit__date {
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 11.1658px;
        line-height: 1.29;
        color: #595E64;
    }

    & .pie-chart__image {
        width: 130px;
        height: 130px;
    }

    & .pie-chart__legent {
        font-weight: 400;
        font-size: 11.1658px;
        line-height: 15px;
        color: #3B3E43;
    }

    & .pie-chart__item {
        @include set-items-margin (bottom, 10px);
    }

    .pie-chart__dot {
        width: 9px;
        height: 9px;
        margin-right: 10px;
    }

    & .pie-chart__param {
        width: 65px;
        margin-right: 10px;
    }
}


.start__backdrop-project-card {
    left: 250px;
    bottom: 117px;

}

.start__decore {
    position: absolute;
    bottom: 23px;
    right: 298px;

    width: 680px;
    height: 680px;

    border-radius: 50%;
    clip: rect(0, 680px, 340px, 340px);
    background: linear-gradient(304.55deg, #8978FF -1.27%, rgba(137, 120, 255, 0) 96.43%);
}