// Colors
$text-default-light-color: #ffffff;
$text-default-dark-color: #595E64;
$title-primary-color: #00A077;
$sub-title-dark-color: #3B3E43;
$background-primary-color: #F9F8FF;
$background-default-light-color: #ffffff;
$footer-background-color: #0D0D0D;

//Fonts
$font-primary: 'DM Sans', sans-serif;